.GaugeMeter {
            position: relative;
            text-align: center;
            overflow: hidden;
            cursor: default;

        }
        .GaugeMeter SPAN,
        .GaugeMeter B {
            margin: 0 23%;
            width: 54%;
            position: absolute;
            text-align: center;
            display: inline-block;
            color: rgba(0,0,0,.8);
            font-weight: 100;
            font-family: "Open Sans", Arial;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .GaugeMeter[data-style="Semi"] B {
            margin: 0 10%;
            width: 80%;
        }
        .GaugeMeter S,
        .GaugeMeter U {
            text-decoration: none;
            font-size: .5em;
            opacity: .5;
        }
        .GaugeMeter B {
            color: black;
            font-weight: 300;
            font-size: .5em;
            opacity: .8;
        }

